@charset "UTF-8";

.Accordion {
	border-left: solid 1px gray;
	border-right: solid 1px black;
	border-bottom: solid 1px gray;
	overflow: hidden;
}

.AccordionPanel {
	margin: 0px;
	padding: 0px;
}

.AccordionPanelTab {
	background-color: #FFFF66;
	border-top: solid 1px black;
	border-bottom: solid 1px gray;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}


.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	height: 500px;
}

.AccordionPanelOpen .AccordionPanelTab {
	background-color:#66CC33;
}

.AccordionPanelTabHover {
	color: #993300;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #000000;
}

.AccordionFocused .AccordionPanelTab {
	background-color: #66CC33;
}

.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #FFFF33;
}


@media print {

  .Accordion {
  overflow: visible !important;
  }
  
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height:400px;
  }
}